.color-swatch-container {
  width: 100%;
  margin-bottom: 8px;
}

.lightness-controls {
  width: 100%;
}

.color-swatch {
  flex: 1;
  height: 48px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  grid-column: span 3;
  background-color: var(--color-overlay-background);
}

.color-swatch.active {
  outline: 2px solid var(--color-primary-500);
}

.hex-label {
  color: var(--color-neutral-00);
  font-size: 14px;
  font-family: "Lato", sans-serif;
  opacity: 1;
  background-color: var(--color-overlay-background);
  padding: 4px 6px;
  border-radius: 4px;
}

.reference-dots {
  display: flex;
  gap: 8px;
}

.reference-dot {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}

.white-dot {
  color: white;
  opacity: 0.9;
}

.black-dot {
  color: black;
  opacity: 0.9;
}

.contrast-ratio {
  font-weight: 500;
}
