.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  opacity: 1;
  transition: transform 0.24s ease-in-out;
  box-sizing: border-box;
  z-index: 1;
}

.dot:hover {
  transform: scale(1.25);
  z-index: 1000;
  outline: 1px solid var(--color-neutral-00);
}

.dot.active {
  z-index: 2;
  border: 0.5px solid var(--color-neutral-00);
  box-shadow: 0 0 0 1px var(--color-neutral-00),
    0 0 0 2px var(--color-neutral-850), 0 0 4px var(--color-neutral-00);
  animation: activePulse 1.5s ease-out infinite;
}

.dot.selected {
  z-index: 4;
  border: 0.5px solid var(--color-neutral-00);
  box-shadow: 0 0 0 1px var(--color-neutral-00);
  animation: selectedPulse 1.5s ease-out infinite;
}

.dot.selected.active {
  z-index: 5;
  border: 0.5px solid var(--color-neutral-00);
  animation: selectedActivePulse 1.5s ease-out infinite;
}

.dot.selected:hover {
  z-index: 5;
}

.dot.filtered {
  opacity: 0.25;
  pointer-events: none;
}

@keyframes activePulse {
  0% {
    box-shadow: 0 0 0 0px rgb(240, 240, 240, 1);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes selectedPulse {
  0% {
    box-shadow: 0 0 0 0px rgba(240, 240, 240, 1);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}

@keyframes selectedActivePulse {
  0% {
    box-shadow: 0 0 0 0px rgba(240, 240, 240, 1);
  }
  100% {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
}
