.app-header {
  background-color: var(--color-neutral-750);
  padding: 16px 16px;
  border-bottom: 1px solid var(--color-neutral-650);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 100;
  gap: 8px;
}

.app-title {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  flex-direction: column;
}

.app-title h1 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.version-number {
  color: var(--color-neutral-400);
  font-weight: 400;
  margin-top: 3px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.section-header h3 {
  margin: 0;
}

.made-by {
  font-size: 12px;
  font-weight: 400;
  margin-top: 3px;
  color: var(--color-neutral-400);
}

.wcag-filters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
