.mobile-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
  text-align: center;
  height: 100vh;
  background-color: var(--color-neutral-750);
}

.mobile-headline {
  font-size: 24px;
  font-weight: 400;
  color: white;
  margin-bottom: 16px;
  font-family: "Lato", sans-serif;
}

.mobile-body {
  font-size: 16px;
  color: var(--color-neutral-400);
  margin-bottom: 32px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  max-width: 320px;
}

.mobile-header {
  padding: 16px;
  color: var(--color-neutral-400);
  text-align: center;
}

@media (max-width: 768px) {
  .mobile-container {
    display: flex;
  }

  .main-container,
  .left-drawer,
  .fab-help {
    display: none !important;
  }

  .app {
    overflow: hidden;
  }

  .main-content {
    margin-left: 0 !important;
  }

  /* Hide only the buttons in the header */
  .header-actions,
  .filters-dropdown {
    display: none !important;
  }

  /* Ensure the header remains visible and centered */
  .app-header {
    justify-content: center !important;
  }

  .app-header h1 {
    margin: 0;
  }
}
