.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--color-overlay-background);
  backdrop-filter: blur(1px);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3333;
  transition: opacity 0.2s ease-in-out;
  box-shadow: 0 4px 32px var(--color-overlay-shadow);
}

.modal-backdrop.open {
  opacity: 1;
}

.modal-content {
  background: var(--color-neutral-750);
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 32px var(--color-overlay-shadow);
  width: auto;
  position: relative;
  width: auto;
}

.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8px;
  height: auto;
}

.modal-content .modal-content-message {
  margin-bottom: 24px;
}

.modal-actions {
  display: flex;
  gap: 8px;
  justify-content: right;
}
