/*
  Typography utility classes for consistent text styles across the app.
  Usage: Add .heading-lg, .body-lg, or .text-warning to elements as needed.
  Also includes base styles for h1-h6 and p for consistent browser defaults.
*/

h1 {
  font-size: 28px;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  font-family: "Gabarito", sans-serif;
}

.main-title {
  display: flex;
  align-items: center;
  gap: 8px;
  background: -webkit-linear-gradient(
    0deg,
    var(--color-neutral-100),
    var(--color-primary-400)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  font-family: "Lato", sans-serif;
}
h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  font-family: "Lato", sans-serif;
}
h4 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0;
  font-family: "Lato", sans-serif;
}
h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  font-family: "Lato", sans-serif;
}
h6 {
  font-size: 0.95rem;
  font-weight: 400;
  margin: 0;
  font-family: "Lato", sans-serif;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.525;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.heading-lg {
  font-size: 20px;
  color: var(--color-neutral-00);
  font-weight: 700;
  margin: 0;
  text-align: left;
}

.body-lg {
  font-size: 16px;
  color: var(--color-neutral-400);
  line-height: 1.35;
  text-align: left;
  max-width: 320px;
}

strong {
  color: var(--color-neutral-00);
  font-weight: 700;
}

a {
  color: var(--color-primary-400);
  font-weight: 400;
}

a:hover {
  color: var(--color-primary-500);
  font-weight: 400;
}
